In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import cross_validation
import xgboost as xgb

def ToWeight(y):
    w = np.zeros(y.shape, dtype=float)
    ind = y != 0
    w[ind] = 1./(y[ind]**2)
    return w

def rmspe(yhat, y):
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean( w * (y - yhat)**2 ))
    return rmspe

def rmspe_xg(yhat, y):
    # y = y.values
    y = y.get_label()
    y = np.exp(y) - 1
    yhat = np.exp(yhat) - 1
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean(w * (y - yhat)**2))
    return "rmspe", rmspe

In [3]:
train = pd.read_csv('train_nnew.csv', low_memory=False)
test = pd.read_csv('test_nnew.csv', low_memory=False)
features = [u'Open', u'Promo', u'SchoolHoliday', u'StateHoliday_0',
       u'StateHoliday_a', u'DayOfWeek_1', u'DayOfWeek_2', u'DayOfWeek_3',
       u'DayOfWeek_4', u'DayOfWeek_5', u'DayOfWeek_6', u'DayOfWeek_7',
       u'CompetitionDistance', u'Promo2', 'year', 'Mean_Sales', 'month', 'day',
       u'StoreType_a', u'StoreType_b', u'StoreType_c', u'StoreType_d',
       u'Assortment_a', u'Assortment_b', u'Assortment_c', u'CompetitionOpen']

In [4]:
train['year'] = train.Date.apply(lambda x: x.split('-')[0])
train['year'] = train['year'].astype(float)
train['month'] = train.Date.apply(lambda x: x.split('-')[1])
train['month'] = train['month'].astype(float)
train['day'] = train.Date.apply(lambda x: x.split('-')[2])
train['day'] = train['day'].astype(float)

In [5]:
test['year'] = test.Date.apply(lambda x: x.split('-')[0])
test['year'] = test['year'].astype(float)
test['month'] = test.Date.apply(lambda x: x.split('-')[1])
test['month'] = test['month'].astype(float)
test['day'] = test.Date.apply(lambda x: x.split('-')[2])
test['day'] = test['day'].astype(float)

In [6]:
train.columns = [u'Store', u'DayOfWeek', u'Date', u'Sales', u'Customers', u'Open',
       u'Promo', u'StateHoliday', u'SchoolHoliday', u'StateHoliday0',
       u'StateHolidaya', u'DayOfWeek1', u'DayOfWeek2', u'DayOfWeek3',
       u'DayOfWeek4', u'DayOfWeek5', u'DayOfWeek6', u'DayOfWeek7',
       u'CompetitionDistance', u'Promo2', u'CompetitionOpenSince',
       u'StoreTypea', u'StoreTypeb', u'StoreTypec', u'StoreTyped',
       u'Assortmenta', u'Assortmentb', u'Assortmentc', u'CompetitionOpen',
       u'MeanSales', u'year', u'month', u'day']

In [7]:
test.columns = [u'Id', u'Store', u'DayOfWeek', u'Date', u'Open', u'Promo',
       u'StateHoliday', u'SchoolHoliday', u'StateHolidaya', u'StateHoliday0',
       u'DayOfWeek1', u'DayOfWeek2', u'DayOfWeek3', u'DayOfWeek4',
       u'DayOfWeek5', u'DayOfWeek6', u'DayOfWeek7', u'CompetitionDistance',
       u'Promo2', u'CompetitionOpenSince', u'StoreTypea', u'StoreTypeb',
       u'StoreTypec', u'StoreTyped', u'Assortmenta', u'Assortmentb',
       u'Assortmentc', u'CompetitionOpen', u'MeanSales', u'year', u'month',
       u'day']

In [8]:
features = [u'Open', u'Promo', u'SchoolHoliday', u'StateHoliday0',
       u'StateHolidaya', u'DayOfWeek1', u'DayOfWeek2', u'DayOfWeek3',
       u'DayOfWeek4', u'DayOfWeek5', u'DayOfWeek6', u'DayOfWeek7',
       u'CompetitionDistance', u'Promo2', 'year', 'MeanSales', 'month', 'day',
       u'StoreTypea', u'StoreTypeb', u'StoreTypec', u'StoreTyped',
       u'Assortmenta', u'Assortmentb', u'Assortmentc', u'CompetitionOpen']

In [9]:
train['Date'] = train['Date'].astype('datetime64')
test['Date'] = test['Date'].astype('datetime64')

In [28]:
train_x = train[train['Store'] == 1]

In [29]:
train_x = train_x.sort(['Date'])

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [33]:
train_x.index = np.arange(len(train_x.index))

In [10]:
stores = np.unique(test.Store)

In [53]:
stores = [1]

In [62]:
store = 1

In [63]:
train_x = train[train['Store'] == store]
train_x = train_x.sort(['Date'])
train_x.index = np.arange(len(train_x.index))
test_x = test[test['Store'] == store]
test_x = test_x.sort(['Date'])
test_x.index = np.arange(len(test_x.index))
train_7 = train_x.copy()
train_18 = train_x.copy()
train_30 = train_x.copy()
test_7 = test_x.copy()
test_18 = test_x.copy()
test_30 = test_x.copy()
for step in xrange(6, len(train_7) - 2):
    train_7.loc[step-6,:] = train_x.loc[step-6:step].mean(axis=0)
    train_7.loc[step-6,'Sales'] = train_x.loc[step+1,'Sales']
    train_7.loc[step-6,'Open'] = train_x.loc[step+1,'Open']
train_7 = train_7.loc[6:,:]
for step in xrange(len(test_7)):
    s = min(step-6,0)
    test_7.loc[step,:] = test_x.loc[s:step].mean(axis=0)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [11]:
params = {"objective": "reg:linear", 
          "eta": 0.2, 
          "max_depth": 8, 
          "subsample": 0.9, 
          "colsample_bytree": 0.9, 
          "silent": 1, 
          "lambda" : 100, 
          "alpha" : 1
         } 
num_trees = 800

In [18]:
ans = test[['Id']]

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [19]:
for store in stores:
    print 'store num', store
    train_x = train[train['Store'] == store]
    train_x = train_x.sort(['Date'])
    train_x.index = np.arange(len(train_x.index))
    test_x = test[test['Store'] == store]
    test_x = test_x.sort(['Date'])
    test_x.index = np.arange(len(test_x.index))
    train_7 = train_x.copy()
    train_18 = train_x.copy()
    train_30 = train_x.copy()
    test_7 = test_x.copy()
    test_18 = test_x.copy()
    test_30 = test_x.copy()
    for step in xrange(6, len(train_7) - 2):
        train_7.loc[step-6,:] = train_x.loc[step-6:step,:].mean(axis=0)
        train_7.loc[step-6,'Sales'] = train_x.loc[step+1,'Sales']
        train_7.loc[step-6,'Open'] = train_x.loc[step+1,'Open']
    train_7 = train_7.loc[6:,:]
    for step in xrange(len(test_7)):
        s = min(step-7,0)
        st = max(step-1, 0)
        test_7.loc[step,:] = test_x.loc[s:st,:].mean(axis=0)
        test_7.loc[step,'Id'] = test_x.loc[step,'Id']
        
    #X_train, X_test = cross_validation.train_test_split(train_7, test_size=0.05, random_state = 1)
    #dtrain = xgb.DMatrix(X_train[X_train['Open'] > 0][features], np.log(X_train[X_train['Open'] > 0]["Sales"] + 1))
    #dvalid = xgb.DMatrix(X_test[X_test['Open'] > 0][features], np.log(X_test[X_test['Open'] > 0]["Sales"] + 1))
    #dtest = xgb.DMatrix(test_7[features])
    #watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
    #gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=50, 
    #                feval=rmspe_xg, verbose_eval=False)

    #print("Validating")
    #train_probs = gbm.predict(dvalid)
    #indices = train_probs < 0
    #train_probs[indices] = 0
    #error = rmspe(np.exp(train_probs) - 1, X_test[X_test['Open'] > 0]['Sales'].values)
    #print('error', error)
    
    rf = RandomForestRegressor(n_estimators=500, n_jobs = -1)
    rf.fit(train_7[train_7['Open'] > 0][features], np.log(train_7[train_7['Open'] > 0]["Sales"] + 1))
    test_probs_7 = rf.predict(test_7[features])
    indices = test_probs_7 < 0
    test_probs_7[indices] = 0
    
    for step in xrange(17, len(train_18) - 2):
        train_18.loc[step-17,:] = train_x.loc[step-17:step,:].mean(axis=0)
        train_18.loc[step-17,'Sales'] = train_x.loc[step+1,'Sales']
        train_18.loc[step-17,'Open'] = train_x.loc[step+1,'Open']
    train_18 = train_18.loc[17:,:]
    for step in xrange(len(test_18)):
        s = min(step-18,0)
        st = max(step-1, 0)
        test_18.loc[step,:] = test_x.loc[s:st,:].mean(axis=0)
        test_18.loc[step,'Id'] = test_x.loc[step,'Id']
    
    #X_train, X_test = cross_validation.train_test_split(train_18, test_size=0.05, random_state = 1)
    #dtrain = xgb.DMatrix(X_train[X_train['Open'] > 0][features], np.log(X_train[X_train['Open'] > 0]["Sales"] + 1))
    #dvalid = xgb.DMatrix(X_test[X_test['Open'] > 0][features], np.log(X_test[X_test['Open'] > 0]["Sales"] + 1))
    #dtest = xgb.DMatrix(test_18[features])
    #watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
    #gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=50, 
    #                feval=rmspe_xg, verbose_eval=False)

    #print("Validating")
    #train_probs = gbm.predict(dvalid)
    #indices = train_probs < 0
    #train_probs[indices] = 0
    #error = rmspe(np.exp(train_probs) - 1, X_test[X_test['Open'] > 0]['Sales'].values)
    #print('error', error)
    
    #test_probs_18 = gbm.predict(dtest)
    #indices = test_probs_18 < 0
    #est_probs_18[indices] = 0
    
    rf = RandomForestRegressor(n_estimators=500, n_jobs = -1)
    rf.fit(train_18[train_18['Open'] > 0][features], np.log(train_18[train_18['Open'] > 0]["Sales"] + 1))
    test_probs_18 = rf.predict(test_18[features])
    indices = test_probs_18 < 0
    test_probs_18[indices] = 0
    
    for step in xrange(29, len(train_30) - 2):
        train_30.loc[step-29,:] = train_x.loc[step-29:step,:].mean(axis=0)
        train_30.loc[step-29,'Sales'] = train_x.loc[step+1,'Sales']
        train_30.loc[step-29,'Open'] = train_x.loc[step+1,'Open']
    train_30 = train_30.loc[29:,:]
    for step in xrange(len(test_30)):
        s = min(step-30,0)
        st = max(step-1, 0)
        test_30.loc[step,:] = test_x.loc[s:st,:].mean(axis=0)
        test_30.loc[step,'Id'] = test_x.loc[step,'Id']
    
    #X_train, X_test = cross_validation.train_test_split(train_30, test_size=0.05, random_state = 1)
    #dtrain = xgb.DMatrix(X_train[X_train['Open'] > 0][features], np.log(X_train[X_train['Open'] > 0]["Sales"] + 1))
    #dvalid = xgb.DMatrix(X_test[X_test['Open'] > 0][features], np.log(X_test[X_test['Open'] > 0]["Sales"] + 1))
    #dtest = xgb.DMatrix(test_30[features])
    #watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
    #gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=50, 
    #                feval=rmspe_xg, verbose_eval=False)

    #print("Validating")
    #train_probs = gbm.predict(dvalid)
    #indices = train_probs < 0
    #train_probs[indices] = 0
    #error = rmspe(np.exp(train_probs) - 1, X_test[X_test['Open'] > 0]['Sales'].values)
    #print('error', error)
    
    #test_probs_30 = gbm.predict(dtest)
    #indices = test_probs_30 < 0
    #test_probs_30[indices] = 0
    
    rf = RandomForestRegressor(n_estimators=500, n_jobs = -1)
    rf.fit(train_30[train_30['Open'] > 0][features], np.log(train_30[train_30['Open'] > 0]["Sales"] + 1))
    test_probs_30 = rf.predict(test_30[features])
    indices = test_probs_30 < 0
    test_probs_30[indices] = 0
    
    ans.loc[test_7.Id-1, 'Sales_7'] = np.exp(test_probs_7) - 1
    ans.loc[test_18.Id-1, 'Sales_18'] = np.exp(test_probs_18) - 1
    ans.loc[test_30.Id-1, 'Sales_30'] = np.exp(test_probs_30) - 1
    ans['Sales'] = ans.loc[:, ['Sales_7','Sales_18','Sales_30']].mean(axis=1)

store num 1
store num 3
store num 7
store num 8
store num 9
store num 10
store num 11
store num 12
store num 13
store num 14
store num 15
store num 16
store num 19
store num 20
store num 21
store num 22
store num 23
store num 24
store num 25
store num 27
store num 29
store num 30
store num 31
store num 32
store num 33
store num 35
store num 36
store num 38
store num 39
store num 40
store num 41
store num 42
store num 43
store num 45
store num 46
store num 47
store num 48
store num 49
store num 50
store num 51
store num 52
store num 53
store num 56
store num 58
store num 61
store num 62
store num 63
store num 64
store num 66
store num 67
store num 68
store num 69
store num 70
store num 71
store num 72
store num 73
store num 74
store num 75
store num 76
store num 77
store num 79
store num 80
store num 81
store num 82
store num 83
store num 84
store num 86
store num 89
store num 90
store num 91
store num 92
store num 93
store num 94
store num 98
store num 99
store num 100
store num 101
store num 102
store num 105
store num 107
store num 108
store num 109
store num 110
store num 111
store num 112
store num 113
store num 115
store num 117
store num 118
store num 119
store num 120
store num 122
store num 124
store num 126
store num 127
store num 128
store num 129
store num 130
store num 131
store num 132
store num 135
store num 136
store num 137
store num 139
store num 140
store num 141
store num 142
store num 143
store num 144
store num 145
store num 146
store num 147
store num 149
store num 150
store num 152
store num 153
store num 154
store num 155
store num 157
store num 158
store num 159
store num 160
store num 161
store num 162
store num 164
store num 165
store num 166
store num 168
store num 169
store num 170
store num 171
store num 172
store num 174
store num 175
store num 176
store num 179
store num 180
store num 181
store num 182
store num 183
store num 184
store num 186
store num 187
store num 188
store num 189
store num 190
store num 191
store num 192
store num 193
store num 194
store num 195
store num 197
store num 199
store num 200
store num 201
store num 202
store num 204
store num 206
store num 207
store num 209
store num 210
store num 212
store num 213
store num 214
store num 215
store num 216
store num 217
store num 218
store num 219
store num 220
store num 221
store num 224
store num 226
store num 227
store num 228
store num 229
store num 230
store num 231
store num 233
store num 234
store num 235
store num 238
store num 239
store num 241
store num 242
store num 243
store num 244
store num 245
store num 246
store num 247
store num 248
store num 249
store num 250
store num 251
store num 252
store num 253
store num 254
store num 255
store num 256
store num 258
store num 259
store num 262
store num 263
store num 265
store num 267
store num 268
store num 269
store num 272
store num 273
store num 274
store num 275
store num 277
store num 278
store num 279
store num 280
store num 281
store num 283
store num 284
store num 285
store num 287
store num 288
store num 289
store num 290
store num 294
store num 295
store num 296
store num 297
store num 298
store num 299
store num 300
store num 301
store num 302
store num 303
store num 304
store num 305
store num 306
store num 308
store num 309
store num 310
store num 311
store num 312
store num 314
store num 315
store num 316
store num 317
store num 319
store num 320
store num 323
store num 325
store num 326
store num 328
store num 329
store num 330
store num 331
store num 333
store num 334
store num 335
store num 336
store num 337
store num 338
store num 339
store num 340
store num 341
store num 342
store num 343
store num 344
store num 345
store num 346
store num 347
store num 348
store num 350
store num 351
store num 352
store num 353
store num 354
store num 355
store num 356
store num 358
store num 359
store num 362
store num 364
store num 365
store num 367
store num 368
store num 369
store num 370
store num 371
store num 372
store num 373
store num 377
store num 378
store num 379
store num 380
store num 383
store num 385
store num 386
store num 387
store num 388
store num 389
store num 391
store num 392
store num 393
store num 394
store num 395
store num 397
store num 398
store num 399
store num 403
store num 404
store num 405
store num 406
store num 407
store num 408
store num 409
store num 410
store num 411
store num 412
store num 413
store num 414
store num 415
store num 416
store num 417
store num 418
store num 420
store num 421
store num 422
store num 424
store num 425
store num 426
store num 427
store num 428
store num 429
store num 430
store num 431
store num 432
store num 433
store num 434
store num 435
store num 440
store num 441
store num 442
store num 445
store num 446
store num 447
store num 448
store num 449
store num 450
store num 451
store num 452
store num 453
store num 455
store num 456
store num 457
store num 458
store num 459

/home/libfun/.virtualenvs/main/lib/python2.7/site-packages/ipykernel/__main__.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [ ]:
print 'OLOLO'

In [ ]:
ans[['Id', 'Sales']].to_csv("rf_ts_ind.csv", index=False)

In [20]:
ans

          Id       Sales_7      Sales_18      Sales_30         Sales
0          1   3734.356121   4386.410987   4641.312231   4254.026447
1          2   5730.672642   7997.476530   8137.477733   7288.542301
2          3   9608.894756   8892.429441   8941.494520   9147.606239
3          4   5928.731295   6935.566653   7815.263623   6893.187190
4          5   6819.889289   7075.426354   7757.549086   7217.621577
5          6   5854.411313   5719.794189   5698.932163   5757.712555
6          7   7221.420831   8130.416833   8680.565693   8010.801119
7          8   7331.919575   8934.809023   8239.792600   8168.840399
8          9   4697.983828   6914.091324   5970.500200   5860.858451
9         10   4567.905023   5756.603981   5873.740867   5399.416624
10        11   5825.197519   6989.632831   7875.120648   6896.650333
11        12   7178.791398   7987.743376   7827.937235   7664.824003
12        13   6030.933509   6965.145978   7770.194357   6922.091282
13        14   8734.071051   9342.973197   9830.247176   9302.430475
14        15   4329.274739   6177.497169   7237.803528   5914.858479
15        16   4665.159639   5101.359637   5717.087092   5161.202123
16        17   4830.508647   5651.450977   6116.489730   5532.816451
17        18   9660.757548  10259.258004  11105.405935  10341.807162
18        19   9891.095006  10834.662794  10729.091329  10484.949709
19        20   9765.988997  10378.620873   8712.264631   9618.958167
20        21   7326.549135   7794.238799   8625.245079   7915.344337
21        22   4231.952633   4392.259937   4015.013860   4213.075476
22        23   4650.982112   5883.842067   6130.261674   5555.028618
23        24   3514.890018   4621.308924   3919.596546   4018.598496
24        25   6742.632506   7979.664766   8439.154958   7720.484077
25        26  11397.266409  11488.520957  12159.117131  11681.634832
26        27   9142.281208  10015.066362   9801.691555   9653.013042
27        28   4331.602851   6517.369707   6323.103704   5724.025421
28        29   4395.240777   5504.187713   5725.799855   5208.409448
29        30   4215.821419   4485.263402   4532.949247   4411.344689
...      ...           ...           ...           ...           ...
41058  41059           NaN           NaN           NaN           NaN
41059  41060           NaN           NaN           NaN           NaN
41060  41061           NaN           NaN           NaN           NaN
41061  41062           NaN           NaN           NaN           NaN
41062  41063           NaN           NaN           NaN           NaN
41063  41064           NaN           NaN           NaN           NaN
41064  41065           NaN           NaN           NaN           NaN
41065  41066           NaN           NaN           NaN           NaN
41066  41067           NaN           NaN           NaN           NaN
41067  41068           NaN           NaN           NaN           NaN
41068  41069           NaN           NaN           NaN           NaN
41069  41070           NaN           NaN           NaN           NaN
41070  41071           NaN           NaN           NaN           NaN
41071  41072           NaN           NaN           NaN           NaN
41072  41073           NaN           NaN           NaN           NaN
41073  41074           NaN           NaN           NaN           NaN
41074  41075           NaN           NaN           NaN           NaN
41075  41076           NaN           NaN           NaN           NaN
41076  41077           NaN           NaN           NaN           NaN
41077  41078           NaN           NaN           NaN           NaN
41078  41079           NaN           NaN           NaN           NaN
41079  41080           NaN           NaN           NaN           NaN
41080  41081           NaN           NaN           NaN           NaN
41081  41082           NaN           NaN           NaN           NaN
41082  41083           NaN           NaN           NaN           NaN
41083  41084           NaN           NaN           NaN           NaN
41084  41085           NaN           NaN           NaN           NaN
41085  41086           NaN           NaN           NaN           NaN
41086  41087           NaN           NaN           NaN           NaN
41087  41088           NaN           NaN           NaN           NaN

[41088 rows x 5 columns]

In [55]:
len(train_x)

942

In [117]:
train_x.loc[0:0]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StateHoliday_0,...,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,CompetitionOpen,Mean_Sales,year,month,day
0,1,2,2013-01-01,0,0,0,0,a,1,0,...,1,0,1,0,0,1,3835.285714,2013,1,1

In [36]:
train_x.loc[0:6]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StateHoliday_0,...,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,CompetitionOpen,Mean_Sales,year,month,day
0,1,2,2013-01-01,0,0,0,0,a,1,0,...,1,0,1,0,0,1,3835.285714,2013,1,1
1,1,3,2013-01-02,5530,668,1,0,0,1,1,...,1,0,1,0,0,1,3746.746032,2013,1,2
2,1,4,2013-01-03,4327,578,1,0,0,1,1,...,1,0,1,0,0,1,3419.396825,2013,1,3
3,1,5,2013-01-04,4486,619,1,0,0,1,1,...,1,0,1,0,0,1,4206.063492,2013,1,4
4,1,6,2013-01-05,4997,635,1,0,0,1,1,...,1,0,1,0,0,1,4942.970149,2013,1,5
5,1,7,2013-01-06,0,0,0,0,0,1,1,...,1,0,1,0,0,1,0.000000,2013,1,6
6,1,1,2013-01-07,7176,785,1,1,0,1,1,...,1,0,1,0,0,1,5852.708333,2013,1,7

In [45]:
train_z = train_x.loc[0:6]

In [46]:
train_z.loc[0,:] = train_x.loc[0:6].mean(axis=0)

In [48]:
train_z.loc[1,:] = train_x.loc[1:7].mean(axis=0)

In [50]:
train_x.loc[1:7].mean(axis=0)

Store                     1.000000
DayOfWeek                 4.000000
Sales                  4585.142857
Customers               562.714286
Open                      0.857143
Promo                     0.285714
SchoolHoliday             1.000000
StateHoliday_0            1.000000
StateHoliday_a            0.000000
DayOfWeek_1               0.142857
DayOfWeek_2               0.142857
DayOfWeek_3               0.142857
DayOfWeek_4               0.142857
DayOfWeek_5               0.142857
DayOfWeek_6               0.142857
DayOfWeek_7               0.142857
CompetitionDistance    1270.000000
Promo2                    0.000000
StoreType_a               0.000000
StoreType_b               0.000000
StoreType_c               1.000000
StoreType_d               0.000000
Assortment_a              1.000000
Assortment_b              0.000000
Assortment_c              0.000000
CompetitionOpen           1.000000
Mean_Sales             3933.211722
year                   2013.000000
month                     1.000000
day                       5.000000
dtype: float64

In [49]:
train_z

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StateHoliday_0,...,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,CompetitionOpen,Mean_Sales,year,month,day
0,1,4,NaT,3788.000000,469.285714,0.714286,0.142857,NaN,1,0.857143,...,1,0,1,0,0,1,3697.517640,2013,1,4.428571
1,1,4,NaT,4585.142857,562.714286,0.857143,0.285714,NaN,1,1.000000,...,1,0,1,0,0,1,3933.211722,2013,1,5.000000
2,1,4,2013-01-03,4327.000000,578.000000,1.000000,0.000000,0,1,1.000000,...,1,0,1,0,0,1,3419.396825,2013,1,3.000000
3,1,5,2013-01-04,4486.000000,619.000000,1.000000,0.000000,0,1,1.000000,...,1,0,1,0,0,1,4206.063492,2013,1,4.000000
4,1,6,2013-01-05,4997.000000,635.000000,1.000000,0.000000,0,1,1.000000,...,1,0,1,0,0,1,4942.970149,2013,1,5.000000
5,1,7,2013-01-06,0.000000,0.000000,0.000000,0.000000,0,1,1.000000,...,1,0,1,0,0,1,0.000000,2013,1,6.000000
6,1,1,2013-01-07,7176.000000,785.000000,1.000000,1.000000,0,1,1.000000,...,1,0,1,0,0,1,5852.708333,2013,1,7.000000